<a href="https://colab.research.google.com/github/Abhinavyadav12827/Python-practice/blob/main/Abhinav_Yadav.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Stone Paper Sciccors game

In [38]:
import random
def game(comp,you):
  if comp==you:
    return None
  elif comp == 's':
    if you == 'sc':
      return False
    elif you == 'p':
      return True
  elif comp == 'p':
    if you == 's':
      return False
    elif you == 'sc':
      return True
  elif comp == 'sc':
    if you == 'p':
      return False
    elif you == 's':
      return True

print('comp turn: Stone(s) Paper(p) or Sciccors(sc)')
rano=random.randint(1,3)
if rano== 1:
  comp= 's'
elif rano== 2:
  comp= 'p'
elif rano== 3:
  comp= 'sc'

you=input('Your turn: Stone(s) Paper(p) or Sciccors(sc)?')
a=game(comp,you)
if a== None:
  print('you chose  '+ you )
  print('comp chose  '+ comp )
  print('The game is tie')
elif a:
  print('you chose  '+ you )
  print('comp chose  '+ comp )
  print('You win')
else:
  print('you chose  '+ you )
  print('comp chose  '+ comp )
  print('You lose')

comp turn: Stone(s) Paper(p) or Sciccors(sc)
Your turn: Stone(s) Paper(p) or Sciccors(sc)?s
you chose  s
comp chose  p
You lose

In [ ]:
import numpy as np
a=np.random.random((2,2,3,2))
a
import pandas as pd

In [ ]:
c=np.random.randint(1,10,(3,2,2,2,5))
c

array([[[[[3, 6, 2, 1, 7],
          [7, 9, 6, 8, 8]],

         [[6, 9, 6, 9, 9],
          [4, 8, 7, 3, 1]]],


        [[[3, 7, 6, 6, 6],
          [4, 9, 7, 8, 5]],

         [[9, 4, 5, 6, 2],
          [2, 8, 6, 4, 7]]]],



       [[[[5, 8, 5, 7, 2],
          [4, 9, 1, 7, 7]],

         [[4, 1, 1, 4, 1],
          [1, 3, 4, 2, 1]]],


        [[[2, 3, 8, 7, 6],
          [1, 5, 6, 1, 6]],

         [[7, 9, 2, 9, 8],
          [9, 4, 6, 6, 3]]]],



       [[[[6, 9, 7, 3, 9],
          [9, 6, 3, 8, 6]],

         [[7, 5, 5, 1, 5],
          [9, 8, 7, 4, 9]]],


        [[[8, 9, 2, 9, 9],
          [6, 3, 6, 8, 9]],

         [[9, 2, 6, 5, 5],
          [7, 6, 1, 1, 3]]]]])

In [ ]:
c.ndim

5

In [ ]:
c.sum(axis=4)

array([[[[19, 38],
         [39, 23]],

        [[28, 33],
         [26, 27]]],


       [[[27, 28],
         [11, 11]],

        [[26, 19],
         [35, 28]]],


       [[[34, 32],
         [23, 37]],

        [[37, 32],
         [27, 18]]]])

Q Write a code to find the second lowest score,if there are two student's with lowest score then print the first in alphabetical order.

In [1]:
#input:-
# 2
# a
# 1
# b
# 2
#output:- b
name1=[]
score1=[]
min1=[]
names=[]
if __name__ == '__main__':
# here we are taking input from user of how many student names he wants to add.
  s=(int(input()))
  for _ in range(s):
        name = input()
        score = float(input())
# here i have stored the inputed names and their respective scores in seprate lists.
        name1.append(name)
        score1.append(score)
# then i zipped them together.
lol=list(zip(name1,score1))
# then i have stored all the names with scores in decending order. key =lambda i : float(i[1]))] will insure that the sorting is being done on the basis of the scores of the students.
# lambda is an anonymous functions which is mapping float to keys.
lolo=[x for x in sorted(lol,reverse=True,key=lambda i :float(i[1]))]
# i had to find the second lowest score so i removed all the lowest scores using while loop.lowest score i identified from indexing.
ij=lolo[-1]
while ij[1]==lolo[-1][1]:
  for i in lolo:
    if i[1]==lolo[-1][1]:
      lolo.remove(i)
# then the last index of list lolo was left with second lowest score.which i then appended in the list min1.
for j in lolo:
  if j[1]==lolo[-1][1]:
    min1.append(j)
#then i had to give the output in alphabetical order so i sorted it out.
min1.sort()
for ac in min1:
    names.append(ac[0])
print(*names,sep='\n')
# in the last print statement i just unpacked the list 'names' using * and seperated them for next line which was the desired output.

5
abhinav
99
priya
102
abhishek
85
sunny
45
yamini
45
abhishek

In [ ]:
#input:-
# 3
# abhinav 22 25 23
# priya 22 25 24
# muskan 44 88 66
# muskan
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
# here student marks dict will store values to the keys.
    query_name = input()
ab=student_marks[query_name]
average=(ab[0]+ab[1]+ab[2])/len(ab)
print("{:0.2f}\n".format(average))
# in this peice of code n is the input of no of students, i had to calculate the average of the student which was to be specified by the user,in the line name ,*line= input will take inpit from user
# and will store first input in name and rest in lines by using split(),then scores is a list of the scores of the students mapped with lines into float.
#query_name is the variable which stores the name of student of which average is to be found out.then i created  a variable containing the name asked.
#and i just put the formula for it
# in the question the desired output was to include 2 digits after decimal either it be 00 so i tried round off function but it didn't icluded 00 so i decided to print in this format instead.
# ':' introduces the format spec
# '0' enables sign-aware zero-padding for numeric types
# '.2' sets the precision to 2
# 'f' displays the number as a fixed-point number

Write a code to swapcases

In [2]:
def swap_case(s):
    return s.swapcase()
if __name__ == '__main__':
    s = input()
    result = swap_case(s)
    print(result)

aBHINAV yADAV
Abhinav Yadav

SPLIT AND JOIN OF A STRING

In [4]:
def split_and_join(line):
    a=line.split(' ')
    a='-'.join(a)
    return a
if __name__ == '__main__':
    line = input()
    result = split_and_join(line)
    print(result)

ABHINAV YADAV IS A CODER
ABHINAV-YADAV-IS-A-CODER

In [ ]:
#@title
first='Abhinav'
last='Yadav'
print('Hello'+' '+first+' '+last+'You just delved into python')

COUNT THE NUMBER OF SUBSTRINGS IN THE GIVEN LINE

In [5]:
def count_substring(string, sub_string):
  if sub_string in string:
    a=string.find(sub_string)
    return a
  else:
    return 0

if __name__ == '__main__':
    string = input().strip()
    sub_string = input().strip()
    
    count = count_substring(string, sub_string)
    print(count)

ABHINAV
BHI
1

In [ ]:
if __name__ == '__main__':
    s = input()
    print(any(map(str.isalnum, s)))
    print(any(map(str.isalpha, s)))
    print(any(map(str.isdigit, s)))
    print(any(map(str.islower, s)))
    print(any(map(str.isupper, s)))

FIND OUT THE MISSING ALPHABETS FROM THE GIVEN SENTENCE

In [6]:
alphabets=[]
a='abcdefghijklmnopqrstuvwxyz'
for i in a:
  alphabets.append(i)

def missing_alphabets(user_string):
  alphabets=[]
  sentence1=[]
  a='abcdefghijklmnopqrstuvwxyz'
  for i in a:
    alphabets.append(i)
    c=user_string.lower()
# i have stored the user input in lower case in c and then iterated c for j now j has single values of c
    for j in c:
      sentence1.append(j)
      y=set(alphabets)-set(sentence1)
      w=''.join(y)
  print('the missing letters are '+w)  


ag=input()
missing_alphabets(ag)

ABHINAV YADAV IS GOING TO BE A GREAT DATA SCIENTIST ONE DAY
the missing letters are mkpjlfzwxuq

write a code to print output of a string into substrings where the partup of the substring should be equal to lenth of string divided by k and the substrings should not contain any duplicate alphabet,
not:-len of the input string should be completely divisible by k.

In [11]:
a='ADABCDANA'
k=3
n=len(a)
ase=int(n/k)
add=int(n/k)
b=[]
d=[]
u=0
w=0
# i have used u variable as a starting point and i am adding the steps to u in the for loop and simply indexing and storing the values.
for i in range(0,ase):
  b.append(a[u:add])
  u=u+ase
  add=add+add
# here i have executed a for loop on list b so nevery item of list b undergoes the conversion to dict to eliminate any duplicate values and then i have stored them in d.
for char in b:
  d.append("".join(dict.fromkeys(char)))
print(*d,sep='\n')

AD
BCD
AN

or

In [12]:
class sub:
  def __init__(self,a,k):
    self.a=a
    self.k=k
    n=len(self.a)
  def find(self):
    ase=int(n/self.k)
    add=int(n/self.k)
    b=[]
    d=[]
    u=0
    w=0
    o=0
    for i in range(0,ase):
      b.append(self.a[u:add])
      u=u+ase
      add=add+add
    for char in b:
      d.append("".join(dict.fromkeys(char)))
    return print('\n'.join(d))
        
car=sub('aaaaabbbbbaababababab',2)
car.find()

a
ab
ba
ba

or

In [13]:
def merge_the_tools(string, k):
    # your code goes here
    temp = []
    len_temp = 0
    for item in string:
        len_temp += 1
        if item not in temp:
            temp.append(item)
        if len_temp == k:
            print (''.join(temp))
            temp = []
            len_temp = 0
if __name__ == '__main__':
    string, k = input(), int(input())
    merge_the_tools(string, k)

abhinav
3
abh
ina

In [19]:
#write a code to print the domain if the mail is valid
def mail(email):
  mail=[]
  username=[]
  domain=[]
  
  special_characters='"!#$%^&*()<,>/?|\"'
  for i in email:
    if i in special_characters:
      return 'invalid email please remove special characters '+ special_characters
    elif i not in special_characters:
      mail.append(i)
  v=mail.index('@')
  for j in mail:
    username.append(mail[0:v])
  for k in mail:
    domain.extend(mail[v+1:len(mail)])
    break
  w="".join(domain)
  return w


dr=input()
mail(dr)

abhinav*@gmail.com

'invalid email please remove special characters "!#$%^&*()<,>/?|"'

In [ ]:
def merge_the_tools(string, k):
    n=len(string)
    ase=int(n/k)
    add=int(n/k)
    b=[]
    d=[]
    u=0
    w=0
    for i in range(0,ase):
        b.append(string[u:add])
        u=u+ase
        add=add+add
    for char in b:
        d.append("".join(dict.fromkeys(char)))
print(*d,sep='\n')

if __name__ == '__main__':
    string, k = input(), int(input())
    merge_the_tools(string, k)

In [20]:
a='ADA'
p="" 
for char in a:
  if char not in p:
    p=p+char
p

'AD'

In [22]:
#missing numbers in a array
n=10
array={6,1,2,8,3,4,7,10,5}
def MissingNumber(array,n):
  a=[x for x in range(1,n+1)]
  y=set(a)-set(array)
  return y
MissingNumber({6,1,2,8,3,4,7,10,5},10)

{9}

In [ ]:
a=[1,3,5,8,9,2,6,7,6,8,9]
print(a[0::1])
print(a[1::3])
print(a[4::9])

KADANE'S THEORM

In [ ]:
sum=0
maxi=arr[0]
arr=[1,2,3,-2,5]
for i in arr:
  sum=sum+i
  maxi=max(maxi,sum)
  if sum<0:
    sum=0
maxi
#    d=[]
#    arr=[5,4,-1,7,8]
#    for i in range(0,len(arr)):
#      sum=0
#      for j in range(1,len(arr)-i+1):
#        sum=sum+arr[j]
#        d.append(arr[i:i+j])

object oriented programming examples.

In [ ]:
class Room:
    length = 0.0
    breadth = 0.0
    def calculate_area(self):
        print("Area of Room =", self.length * self.breadth)

study_room = Room() 
study_room.length = 42.5
study_room.breadth = 30.8
study_room.calculate_area()

In [ ]:
class Car:
  def __init__(self,color,engine):
    self.color1=color
    self.engine1=engine

In [ ]:
 import numpy as np

arr = np.array([[1, 2, 3, 4, 5],[4,5,6,7,8]])

print(arr)

print(type(arr))

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/ex/Financials Sample Data.csv')

In [ ]:
df.to_csv('Financials Sample Data', sep='\t')

In [ ]:
df.dtypes

Account          object
Businees Unit    object
Currency         object
Year              int64
Scenario         object
Jan              object
Feb              object
Mar              object
Apr              object
May              object
Jun              object
Jul              object
Aug              object
Sep              object
Oct              object
Nov              object
Dec              object
dtype: object

In [ ]:
df.dtypes

Account          object
Businees Unit    object
Currency         object
Year              int64
Scenario         object
Jan               int64
Feb               int64
Mar               int64
Apr               int64
May               int64
Jun               int64
Jul               int64
Aug               int64
Sep               int64
Oct               int64
Nov               int64
Dec               int64
dtype: object

In [ ]:
df.isnull().sum()

Account          0
Businees Unit    0
Currency         0
Year             0
Scenario         0
Jan              0
Feb              0
Mar              0
Apr              0
May              0
Jun              0
Jul              0
Aug              0
Sep              0
Oct              0
Nov              0
Dec              0
dtype: int64

In [ ]:
androidVar_count_df = pd.DataFrame(df['Jan'].value_counts())
androidVar_count_df

           Jan
90924002     1
1206445      1
1079788      1
261109       1
2686116      1
...        ...
6635711      1
4657393      1
3683094      1
818929       1
545525       1

[351 rows x 1 columns]

In [ ]:
def ow(row):
  if '(' in row:
    row=row[1:]
  if ')' in row:
    row=row[:-1]
  if '$' in row:
    row=row.strip('$')
  if ',' in row:
    row=row.strip(',')
  return row

In [ ]:
my_list=df.columns.tolist()

In [ ]:
my_list

['Account',
 'Businees Unit',
 'Currency',
 'Year',
 'Scenario',
 'Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [ ]:
for i in my_list[5:]:
    df[i] = df[i].apply(lambda x: ow(x))

In [ ]:
for i in my_list[5:]:
  df[i]=df[i].apply(lambda x:x.replace(',',""))
  df[i] = pd.to_numeric(df[i])

In [ ]:
df.head()

,Account,Businees Unit,Currency,Year,Scenario,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Sales,Software,USD,2012,Actuals,90924002,82606134,72780220,52943701,77528109,96384524,77345061,98290873,79879127,95373403,54887908,82703597
1,Cost of Goods Sold,Software,USD,2012,Actuals,41623278,40464347,30806326,21412962,37047252,44819597,34847393,47903350,35880653,44982115,26929424,34233473
2,Commissions Expense,Software,USD,2012,Actuals,4454359,3386032,3389705,2149257,3168079,4417624,3386461,4052846,3418737,4365527,2455561,3646726
3,Payroll Expense,Software,USD,2012,Actuals,9901680,9871172,8459696,6303408,8493573,11082494,8081033,11070018,8410665,10081727,6300578,9099438
4,Travel & Entertainment Expense,Software,USD,2012,Actuals,951255,838985,872700,624416,919835,1085296,818602,1040585,803190,1158623,611335,941542

In [ ]:
df['Feb'] = df['Feb'].apply(lambda x: ow(x))

In [ ]:
df.head()

,Account,Businees Unit,Currency,Year,Scenario,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Sales,Software,USD,2012,Actuals,"90,924,002","$82,606,134","$72,780,220","$52,943,701","$77,528,109","$96,384,524","$77,345,061","$98,290,873","$79,879,127","$95,373,403","$54,887,908","$82,703,597"
1,Cost of Goods Sold,Software,USD,2012,Actuals,"41,623,278","($40,464,347)","($30,806,326)","($21,412,962)","($37,047,252)","($44,819,597)","($34,847,393)","($47,903,350)","($35,880,653)","($44,982,115)","($26,929,424)","($34,233,473)"
2,Commissions Expense,Software,USD,2012,Actuals,"4,454,359","($3,386,032)","($3,389,705)","($2,149,257)","($3,168,079)","($4,417,624)","($3,386,461)","($4,052,846)","($3,418,737)","($4,365,527)","($2,455,561)","($3,646,726)"
3,Payroll Expense,Software,USD,2012,Actuals,"9,901,680","($9,871,172)","($8,459,696)","($6,303,408)","($8,493,573)","($11,082,494)","($8,081,033)","($11,070,018)","($8,410,665)","($10,081,727)","($6,300,578)","($9,099,438)"
4,Travel & Entertainment Expense,Software,USD,2012,Actuals,"951,255","($838,985)","($872,700)","($624,416)","($919,835)","($1,085,296)","($818,602)","($1,040,585)","($803,190)","($1,158,623)","($611,335)","($941,542)"

In [ ]:
pd.to_csv